/* Global CSS */
* {
    font-family:Arial, Helvetica, sans-serif;
}
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }

/* The logo that is in the same section with the NAV bar. */
h1 {
    margin-left: 5px;
    padding: 5px;
    background-color: magenta;
    border-radius: 20px;
}

/* This next few sections are just related to 
navigation bar. */

nav ul {
    display: flex;
    background-color: magenta;
    border-radius: 25px;
    padding: 13px;
    margin-right: 25px;
    position: relative;
    list-style-type: none;
    text-transform: capitalize;
    ;
}

nav {
    display: flex;
    justify-content: space-between;
}

li a {
    margin: 25px;
    color: aquamarine;
    text-decoration: none;
}

#navbutton:hover {
    opacity:0.75;
    color: black;
    background-color: white;
} 

/* End NAV bar section. Below is the About Me section of CSS. */

section h2 {
    display: flex;
    width: 150px;
}

section p {
    width: auto;
}

#aboutme {
    flex-wrap: wrap;
}

/* Banner Box with Selfie Image CSS below. */

.bannerbox {
    display: flex;
    flex-direction: row;
}

.banner {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 200px;
}
#selfieimage {
    display:flex;
    width:10.25%;
    height: 10.25%;
}

/* Below is the Featured Project CSS. */

.featuredproject {
    flex-wrap: wrap;
    display: flex;
    border-top: solid black 7px;
    border-left:solid black 7px;
    border-right:solid black 7px;
}

.featuredimage {
    max-width: 45%;
    width: auto;
    height: auto;
}

.featuredimage:hover {
    opacity: 70%;
}

/* Below this is the Past Projects CSS. */

.otherimage {
    max-width: 45%;
    width: auto;
    height: auto;
}

.otherimage:hover {
    opacity: 70%;
}
.otherproject3 {
    border-right: solid black 7px;-
}
.otherproject2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    border-left:solid black 7px;
    border-right:solid black 7px;
    border-top:solid black 7px;

}

/* This here is part of the About Me section CSS classes. */

.first {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 20px;
    border: solid black 7px;
}

.first-1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    width:200px;
    color: rgb(43, 43, 43);
    margin: 10px 0px 10px 100px;
    padding-right: 10px;
}

.first-2 {
    margin: 10px 0px 10px 0;
    width: 850px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(43, 43, 43);
    border-left: 5px solid rgb(43, 43, 43);
    padding-left: 40px;
}

/* Below is the footer links for the Contact Me section. */

footer ul {
    display: flex;
    background-color: magenta;
    border-radius: 25px;
    padding: 13px;
    margin-right: 25px;
    position: relative;
    list-style-type: none;
    text-transform: capitalize;
    ;
}

footer {
    display: flex;
    justify-content:space-between;
}

#footerlink {
    margin: 25px;
    color: aquamarine;
    text-decoration: none;
}

#contactbutton:hover {
    opacity:0.75;
    color: black;
} 

.last {
    display: flex;
    align-content: center;
    margin-bottom: 20px;
    border: solid black 7px;
}

.last-1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(43, 43, 43);
    margin: 10px 0px 10px 100px;
    padding-right: 10px;
    text-align: left;
    justify-content: space-around;
}

.last-2 {
    justify-content: space-around;
    width: 850px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(43, 43, 43);
} 

/* Media Query responsive screen section. */

@media screen and (max-width: 768px) {

        header {
            flex-direction: column; 
        }


            main {
                max-width: 1200px;
            }
        }